spring:
  application:
    name: recipe-sniper
  datasource:
    url: jdbc:h2:file:./data/recipe-sniper
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

management:
  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: ""
    metrics:
      export:
        enabled: false

logging:
  file:
    name: logs/recipe-sniper.log
